# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## OSX noise
**/.DS_Store

## Build generated
build/
DerivedData/


thin
scratch
ffmpeg-2.6.2
FFmpegMainDemo.xcworkspace/xcuserdata
FFmpeg-iOS
Demo/FFmpegMainDemo/FFmpegMainDemo.xcodeproj/xcuserdata
Demo/FFmpegMainDemo/FFmpegMainDemo.xcodeproj/project.xcworkspace/xcuserdata
FFmpegMain.xcodeproj/project.xcworkspace/xcuserdata
FFmpegMain.xcodeproj/xcuserdata
